@model NgoVanRon_QLSV_MVC.Models.NgoVanRon_Lop

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa Lớp</h1>

<h3>Bạn có muốn chắc là xóa lớp ?</h3>
<div>
    <h4>Lớp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLop)
        </dd>
    </dl>
    
    <form asp-action="Delete_ron">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về</a>
    </form>
</div>
